body {
    background-color: #1f1f1f;
}

#main_block {
    display: flex;
    min-width: 99.5%;
    height: auto;
    gap: 10px
}

#addBox{
    position: absolute;
    margin: -2vh 0 0 92vw;
    border: 5px solid #1f1f1f;
    border-radius: 15%;
    min-width: 8vw;
    height: 10vh;
}

#removeBox {
    position: absolute;
    margin: 7.5vh 0 0 94.8vw;
    border: 2px solid #1f1f1f;
    border-radius: 25%;
    min-width: 5vw;
    height: 10vh;
}
/* adjust box size  */
.resizable {
    position: absolute;
    overflow: hidden;
    width: 20%;
    height: 50vh;
    min-width: 10%;
    min-height: 40vh; 
    border: 3px solid rgb(99, 21, 64); 
    border-radius: 4%;
    background-color: #4d1132ce;
    margin: 10px 0;
}

/* change resize box looks */
.resize-visual {
    position: absolute;
    bottom: 0;
    right: 0;
    min-width: 100%;
    height: 20px;
    background-color: darkgrey;
    cursor: se-resize;
    clip-path: inset(20% 30% 0% 30%);       /* round 5% 20% 0 10% */
}
